/*****************************
 * BACKGROUND 
 *****************************/

 .bg {
    background-image: url("./media/bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.bg-blue {
    background-color: rgba(57, 214, 214, 0.5);
    font-weight: bold;
    text-align: center;
}


/*****************************
 * AREA 
 *****************************/

#header {
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 25px;
    text-align: center;
}

#content {
    margin-bottom: 50px;
}


/*****************************
 * SUB AREA 
 *****************************/

#gifts-area {
    margin: 15px;
    padding: 15px;
}

#dwarf-area {
    margin: 5px;
    padding: 15px;
}

#sled-area {
    margin: 5px;
    padding: 15px;
}


/*****************************
 * GIFT 
 *****************************/

.gift {
    background-repeat: no-repeat;
    background-position: center;
    height: 120px;
}

.gift-small {
    background-image: url("./media/gift-small.png");
}

.gift-medium {
    background-image: url("./media/gift-medium.png");
}

.gift-large {
    background-image: url("./media/gift-large.png");
}


/*****************************
 * DWARF 
 *****************************/

.dwarf {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    width: auto;
}

.dwarf-working {
    background-image: url("./media/elfo-working.png");
}

.dwarf-waiting {
    background-image: url("./media/elfo-waiting.png");
}

.dwarf-available {
    background-image: url("./media/elfo-available.png");
}

.dwarf-status {
    padding: 5px 9px 9px 9px;
    border-radius: 15px;
    border: 1px solid rgb(58, 172, 238);
    background-color: rgb(58, 238, 238);
    text-align: center;
}


/*****************************
 * SLED 
 *****************************/

.sled {
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    height: 250px;
    scale: 1;
    width: auto;
}

.sled-0 {
    background-image: url("./media/sled-0.png");
}

.sled-1 {
    background-image: url("./media/sled-1.png");
}

.sled-2 {
    background-image: url("./media/sled-2.png");
}

.sled-3 {
    background-image: url("./media/sled-3.png");
}

.sled-4 {
    background-image: url("./media/sled-4.png");
}


/*****************************
 * REINDEER 
 *****************************/

.reindeer {
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    scale: 2;
    width: auto;
}

.reindeer-anim {
    background-image: url("./media/reindeer-anim.gif");
}

.reindeer-hunger {
    background-image: url("./media/reindeer-hunger.png");
}